<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Css Template 168</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="allContent">
	<div class="logo">
    <li><img src="http://i.imgur.com/86l7GEH.png" alt="" width="400" height="200" /></li>
    </div>
    <div class="mainMenu">
    	<ul>
        	
            <li><a href="http://localhost:3000/pages/profiles">PROFILES</a></li>
            <li><a href="http://localhost:3000/posts">BLOG</a></li>
            <li><a href="http://localhost:3000/pages/contact">CONTACT US</a></li>
        </ul>
    </div>
   
    <div class="contentBody">
    	<h1>TekLife Team</h1>
      
      <font size="5">We are a company of 7 passionate software developers. We enjoy creating your software. Business dream and we make it come true. TekLife Team</font>  
       
    </div>
</div>
</div>

</body>
</html>
