<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Css Template 168</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="allContent">
	<div class="logo">
    <li><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/1001735_10201889172969776_829456496_n.jpg?oh=306e4a0c3c3cba4e2e4e566a989336f2&oe=558A3A1A&__gda__=1435596352_3bfa5d3d57d1886df359b4e9f86b87dd" alt="" width="400" height="200" /></li>
    </div>
   
   
    <div class="contentBody">
    	<h1>Name : Hussien Kamal</h1>
    	<h1>Age  :  20</h1>
      
      
    </div>
</div>
</div>

</body>
</html>