<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Css Template 168</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="allContent">
	<div class="logo">
    <li><img src="http://img1.wikia.nocookie.net/__cb20141028171337/pandorahearts/images/a/ad/Not_available.jpg" alt="" width="400" height="200" /></li>
    </div>
   
   
    <div class="contentBody">
    	<h1>Name : Mariam Afifi</h1>
    	<h1>Age  :  22</h1>
      
      
    </div>
</div>
</div>

</body>
</html>