<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Css Template 168</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="allContent">

   
   
    <div class="mainMenu">
    	<ul>
        	
            <li><a href="http://localhost:3000/pages/hussien">Hussien Kamal</a></li><br>
            <li><a href="http://localhost:3000/pages/nageeb">Ahmed Naguib</a></li><br>
            <li><a href="http://localhost:3000/pages/omar">Omar Hesham</a></li><br>
            <li><a href="http://localhost:3000/pages/monica">Monica Gamal</a></li><br>
            <li><a href="http://localhost:3000/pages/bergitte">Bergitte Saeed</a></li><br>
            <li><a href="http://localhost:3000/pages/jirayr">Jirayr Vahe </a></li><br>
            <li><a href="http://localhost:3000/pages/mariam">Mariam Afifi</a></li><br>
        </ul>
    </div>
      
    </div>
</div>
</div>

</body>
</html>